<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      Description
    </ion-title> -->
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <div class="icon-close">
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </div>
        
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="cards-bg" no-padding>

      <ion-card>
    
        <img [src]="data.imagens[1].imagen"/>
    
        <ion-card-content>
          <ion-card-title>
            {{data.titulo}}
          </ion-card-title>
          <p>
            {{data.descripcion}}
          </p>
          <h2>Empresa</h2>
          <div padding>
              <small>
                <!-- Celular: {{data.celular}}
                Telefono: {{data.telefono}} -->
                <button ion-button icon-start round  >
                  <ion-icon name="ios-phone-portrait"></ion-icon>
                  {{data.celular}}
                </button>
                <button ion-button icon-start round>
                  <ion-icon name="ios-home"></ion-icon>
                  {{data.telefono}}
                </button>
              </small>
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>