page-publicity{
    .card-content-md{
    background: linear-gradient(135deg, #af7f4a 0%, #e2d5a2 20%, #f2e08e 33%, #ebd583 44%, #d0aa58 62%, #916037 100%);
    }
    .button-md{
        background-color: #171717;
    }
    .icon-close{
    color:white;
    }
}