
<ion-header>

  <ion-navbar>
    <ion-title>Mis Imagenes</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="page-gallery">
    <ion-grid>
      <ion-row wrap>
        <ion-col col-6  *ngFor="let image of images">
          <img src="assets/imgs/{{image}}" imageViewer>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
