page-list-publicity {
    .item-md {   
        background-color: transparent;  
    }
    .toolbar-title-md{
        color:white;
    }
    .item-md .item-button {
        color: white;
        border-color: white;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .card-header-md {
        padding: 5px;
        background: linear-gradient(135deg, #af7f4a 0%, #e2d5a2 20%, #f2e08e 33%, #ebd583 44%, #d0aa58 62%, #916037 100%);
    }
}
