<ion-header>
  <ion-navbar  id="color-content">
      <ion-buttons start (click)="buscar()">
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    <div class="img-center-detail" >
        <!-- <h2 style="color: #fff">{{items.menu}}</h2> -->
          <img [src]="img" alt="Weather forecast" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  


<ion-content padding>
  <ion-list>
    <!-- <ion-item *ngFor="let item of datos" (click)="presentProfileModal(item)" >
          <img [src]="item.imagens.length > 0 ?
          item.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
      {{item.descripcion}} 
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
    </ion-item> -->
   <ion-item  *ngFor="let item of datos" (click)="presentProfileModal(item)">
      <ion-card>
        <ion-card-header>
          {{item.titulo}}
        </ion-card-header>
       
            <img [src]="item.imagens.length > 0 ?
            item.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
        <!-- {{item.descripcion}} -->
        
        
      </ion-card>
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
      </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!noRecords">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
