
<ion-content id="page-login">
  <ion-slides pager="false" autoplay="2000" loop="true" speed="1500" effect="fade">
    <ion-slide class="slide-background swiper-no-swiping"  *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
        <!-- <div class="swiper-zoom-container">
          <img [src]="background">
        </div> -->
    </ion-slide>
  </ion-slides>
  <div class="login-container">
    <ion-grid>
      <ion-row style="margin-top: 10vw;">
        <ion-col col-12 col-sm-6 col-md-6>
          <img class="logo" src="assets/imgs/logotext.png" style="margin-top: 10vh" />
        </ion-col>
        <ion-col col-12 col-sm-6 col-md-6>
          <div class="item-login">
            <ion-item>
              <ion-input type="text" [(ngModel)]="dato.username" placeholder="Usuario"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" [(ngModel)]="dato.password" placeholder="Password"></ion-input>
            </ion-item>	
            <button ion-button margin color="primary" (click)="login()">LOGIN</button>
          </div>
        </ion-col>
        <ion-col col-12>
          <button ion-button margin color="primary" (click)="openRegister()">Registrarse</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>