page-login {
  .scroll-content {
    padding: 0px 8px 0px 0px !important;
    margin-top: 0 !important;
    // margin-bottom: 0 !important;
  }
  .logo {
    width: 50%;
    height: auto;
    // padding-top: 9vh;
    // margin-bottom: 15vh;
  }
  span {
    color: white;
  }
  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
  }
  
  ion-slides {
    height: 100vh;
    // position: absolute;

    position: fixed; 
    z-index: -100;

    background-size: cover;
  }

  .item-login ion-item {
    color: white !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  .item-login .item-md{
    background: transparent !important;

  }
   ::-webkit-input-placeholder {
    color: white !important;
  }
  .login-container {
    color: white;
    position: absolute;
    top: 0;
    // padding: 10vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  ion-button {
    opacity: 0.8;
  }
  
}