page-appointment-selection{
    .scroll-content {
        /* padding: 12px 8px 0px 8px !important; */
        padding: 0px !important;
    }
.swiper-slide img {
    width: 100%;
}
.icon-zone{
    color:white;
}
ion-slides {
    height: 35%;
}
#slidecontainer {
    width: 100%;
    margin-bottom: 20px;
}
.button-logout{
background-image: linear-gradient(#b5005f,#6e0662);
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.section-first{
    color: #fff;
background-color: #DD1095;
padding-top: 1%;
padding: 3%;
}
.section-second{
    min-height: 260px;
    border-radius: 20px 20px 0px 0px;
    background: rgba(175,127,74,1);
    background: linear-gradient(135deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
padding-bottom: 15px;
padding: 3%;
}
.section-three{

}
.conexion-state{
    padding: 3px;
    width: 23%;
    border-radius: 20px;
    background:#81368B; 
}
.row-info .col{
    background: dimgrey;
}
.title-descripcion-p{
color:white;
}
.title-descripcion{
color: #000;    
font-weight: 800;
}
.swiper-pagination-bullet-active {
    background: #6b0662;
}
ion-fab[right] {
    padding-top: 45%;
}
ion-fab-list{
    margin: 60px 0;
    background: #fbf0f6;
    border-radius: 22px;
}
.fab-md-in-list{
    color: #6b0662;
}
.fab-md-love{
    background-color: #07bd0e
}

.fontcont{
    margin-block-start: 0px;
    margin-block-end: 1px;
}
.scroll-content{
    background: #dd1095;
}   
.icondat{
    vertical-align: middle;
    font-size: 2em;
}
.socialicon{
    text-align: center;
    /* text-align-last: justify; */
    letter-spacing: 7px;
}
.alert-button-group{
    justify-content: center;
}
.alert-button{
    margin: 0 auto;
}
.btnfav{
    float: right;
    margin-top: -20px;
    z-index: 1;
    border-radius: 50%;
    height: 45px;
}
.socialicss{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
}

}
.buttoncontac{
    width: 80%;
    text-transform: none;
} 
.btnfav{
    float: right;
    margin-top: -20px;
    z-index: 1;
    border-radius: 50%;
    height: 45px;
}