<ion-header>
  <ion-navbar  id="color-content">
      <!-- <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons> -->
    <div class="img-center-detail" >
          <img [src]="img" alt="Weather forecast" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

  <ion-content no-padding>
    <ion-slides pager style="width: 100%">
      <ion-slide *ngFor="let item of data.imagens">
          <img src="{{item.imagen}}" imageViewer/>
      </ion-slide>
      <ion-slide *ngIf="!data.imagens.length">
        <img src='assets/imgs/person-default.png' />
      </ion-slide>
      <ion-slide>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/MLleDRkSuvk" frameborder="0" allowfullscreen></iframe>
          <!-- <h2>{{ video?.title }}</h2> -->
      </ion-slide>
    </ion-slides>
    <button ion-button icon-only class="btnfav" (click)="addfavorito()">
        <ion-icon name="heart" *ngIf="data.favoritos=='no'"></ion-icon>
        <ion-icon name="checkmark" *ngIf="data.favoritos=='si'"></ion-icon>
      </button>
 <!-- <ion-fab right top >
      
            <button ion-fab color="love"><ion-icon name="add"></ion-icon></button>
   
        <ion-fab-list  side="top">
            <button icon-only tooltip="Agregar Favoritos" navTooltip ion-fab><ion-icon name="ios-star"></ion-icon></button>
            <button icon-only tooltip="Me encanta" navTooltip ion-fab><ion-icon name="ios-heart"></ion-icon></button>
            <button ion-fab (click)="whatsappShare()"><ion-icon name="logo-whatsapp"></ion-icon></button>
          </ion-fab-list>
        </ion-fab> -->

  
    
  <div class="section-first">
      <h1>{{data.nombre}}</h1>
  <div class="title-descripcion-p">
      <p>{{data.descripcion}}</p>
  </div>
  </div>
  <div class="section-second">
  <!-- <div align="right">
      <div class="conexion-state" >
          <ion-note item-end>On line</ion-note><span> </span>
          <ion-radio value="always" color="secondary" checked="true"></ion-radio>
      </div>  
  </div> -->
    <div class = "row">
      <div class = "col col-50">
        <div >
            <h4  class="title-descripcion">Horario</h4>
            <p *ngIf="data.horario">
              {{data.horario}}
            </p>
        </div>
        <div >        
          <h4  class="title-descripcion">Informacion</h4>
          <p class="fontcont" *ngIf="data.edad">Edad <span>{{data.edad}}</span></p>
          <p class="fontcont" *ngIf="data.peso">Peso <span>{{data.peso}}</span></p>
          <p class="fontcont" *ngIf="data.estatura">Estatura <span>{{data.estatura}}</span></p>
          <p class="fontcont" *ngIf="data.contextura">Contextura <span>{{data.contextura}}</span></p>
          <p class="fontcont" *ngIf="data.idioma">Idioma <span>{{data.idioma}}</span></p>
        </div>
        <div >
          <h4 class="title-descripcion">Servicios</h4>
          <p class="fontcont" *ngFor="let item of data.servicios">* {{item.servicio}} <span>{{item.precio}}</span></p>
          <!-- <p class="fontcont">* Una hora <span>400bs</span></p>
          <p class="fontcont">* Media hora <span>250bs</span></p>
          <p class="fontcont">* 40 min <span>200bs</span> </p>
          <p class="fontcont">* 20 min <span>50bs</span> </p> -->
        </div>
        <!-- <div  *ngFor="let item of data.servicios">
          <span class="title-descripcion">{{item.servicio}}</span>
        </div> -->
        
        <!-- <div  *ngFor="let item of ambiente">
          <span class="title-descripcion">{{item.nameambiente}}</span>
        </div> -->
      </div>
      <div class = "col col-50" style="text-align: right;">  
        <!-- <p>
            <button ion-button icon-only class="socialicss">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </button>
              54645645
        </p>       -->
          <button ion-button icon-start round class="buttoncontac" *ngIf="data.whatsapp" (click)="openWithSystemBrowser(data.whatsapp)">
            <ion-icon name="logo-whatsapp"></ion-icon>
            {{data.whatsapp | slice:0:15}}
          </button>
          <button ion-button icon-start round class="buttoncontac" *ngIf="data.celular" (click)="openCallNumber(data.celular)">
            <ion-icon name="tablet-portrait"></ion-icon>
            {{data.celular | slice:0:15}}            
          </button>
          <button ion-button icon-start round class="buttoncontac" *ngIf="data.telefono" (click)="openCallNumber(data.telefono)">
            <ion-icon name="call"></ion-icon>
            {{data.telefono | slice:0:15}}            
          </button>
          <button ion-button icon-start round class="buttoncontac" *ngIf="data.email">
            <ion-icon name="mail"></ion-icon>
            {{data.email | slice:0:15}}
          </button>
          <button ion-button icon-start round class="buttoncontac">
            <ion-icon name="pin"></ion-icon>
            {{data.ciudad.ciudad | slice:0:15}}
          </button>

        <p class="socialicon">
          <button ion-button icon-only class="socialicss" *ngIf="data.facebook" (click)="shareSocial(data.facebook)">
            <img src="assets/imgs/social/fa.png" alt="">
          </button>
          <button ion-button icon-only class="socialicss" *ngIf="data.twitter"(click)="shareSocial(data.twitter)">
            <img src="assets/imgs/social/tw.png" alt="">
          </button>
          <button ion-button icon-only class="socialicss" *ngIf="data.instagram"(click)="shareSocial(data.instagram)">
            <img src="assets/imgs/social/in.png" alt="">
          </button>
          <!-- <ion-icon name="logo-facebook" class="icondat"></ion-icon> -->
          <!-- <ion-icon name="logo-twitter" class="icondat"></ion-icon>
          <ion-icon name="logo-instagram" class="icondat"></ion-icon>
           -->
        </p>
        
        <!-- <button (click)="openWithSystemBrowser()" class="button-watshapp" color="secondary" ion-button icon-start>
        <ion-icon name='logo-whatsapp'></ion-icon>
        Mensajeame
        </button>    -->
      </div>
    </div>
  </div>
  </ion-content>
<ion-footer >
  <ion-toolbar no-padding>
    <ion-slides  autoplay="3000" pager="false" loop="true" effect="slide">
      <ion-slide *ngFor="let item of publicidads" >
        <img [src]="item.imagens[0].imagen" class="slide-image" (click)="presentProfileModal(item)" />
        <!-- <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2> -->
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>
 