<!--
  Generated template for the CityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar id="color-content">
    <ion-title>Selecciona tu ciudad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
      <ion-item *ngFor="let item of items.ciudads"  (click)="openCountry(item)">
        <ion-thumbnail item-start>
          <div class="image-city">
              <img src="{{item.imagen}}">
          </div>
        </ion-thumbnail>
        <h2>{{item.ciudad}}</h2>
        <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
      </ion-item>  
  </ion-list>
</ion-content>
