<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorRegister">
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class="login-container">
  
    <img class="logo" [src]="avatar.avatar" />
      <div class="item-login">
        <!-- <ion-item>
          <ion-avatar item-start>
            <img [src]="avatar.avatar">
          </ion-avatar>
            {{avatar.descripcion}}
        </ion-item> -->
        <ion-item>
          <ion-input type="text" [(ngModel)]="dato.alias" placeholder="Alias"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="dato.username" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" [(ngModel)]="dato.password" placeholder="Password"></ion-input>
        </ion-item>	
      </div>
 <button ion-button margin color="primary" (click)="registrar()">Registrarse</button>
  </div>
</ion-content>
