<ion-header>
  <ion-navbar  id="color-content">
      <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="ios-search"></ion-icon>
          </button>
        </ion-buttons>
    <div class="img-center-detail" >
          <img [src]="img" alt="Weather forecast" />
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-slides class="to-top" pager>
   <ion-slide>
      <img src="assets/imgs/fotos/trip_5.jpg">
    </ion-slide>
  </ion-slides>

  <ion-fab top right  bottom>
    <button ion-fab color="love"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button icon-only tooltip="Agregar Favoritos" navTooltip ion-fab><ion-icon name="ios-star"></ion-icon></button>
      <button icon-only tooltip="Me encanta" navTooltip ion-fab><ion-icon name="ios-heart"></ion-icon></button>
      <button ion-fab (click)="whatsappShare()"><ion-icon name="logo-whatsapp"></ion-icon></button>
      <button ion-fab (click)="shareFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
</ion-fab>
  <div class="label-description">   
  <h3>Lore ipsum</h3>
  <p>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras,</p>
  </div>
  <ion-card id="ion-card-content">


  <ion-card-content >
    <div  class="item-appointment" align="right">
      <ion-item>
        <ion-note item-end>Online</ion-note>
          <ion-radio value="always" color="secondary" checked="true"></ion-radio></ion-item>
    </div>
  <div class = "row">
    <div class = "col col-50">
      <div class="title-ambiente">
        <p>Servicios</p>
      </div>
      <div class="title-ambiente" *ngFor="let item of servicios">
        <span class="title-items">Despedidas</span>
      </div>
      <div class="title-ambiente">        
        <p>Ambientes</p>
      </div>
      <div class="title-ambiente" *ngFor="let item of ambiente">
        <span class="title-items">Moteles</span>
      </div>
    </div>
    <div class = "col col-50">
       <div class="title-ambiente">
        <p>Información</p>
      <ion-icon class="icon-zone" name='ios-navigate'><span class="title-items"> zona norte</span>
      </ion-icon>
      <button (click)="openWithSystemBrowser()" class="button-watshapp" color="secondary" ion-button icon-start>
      <ion-icon name='logo-whatsapp'></ion-icon>
      Mensajeame
      </button>   
    </div>
    </div>
  </div>

  </ion-card-content>
</ion-card> 
</ion-content>
<ion-footer id="color-content">
  <ion-toolbar>
    <div class="row-info">
     <div class="row">
      <div class="col col-50" (click)="sendImageClient()">
  <h3 align="center">Ver Galeria</h3>
      </div>
      <div class="col col-50" (click)="openCallNumber()">
<h3 align="center">Contactar</h3>
      </div>
    </div> 
    </div>
      </ion-toolbar>
</ion-footer>
