#ion-card-content{
background-color: #c0392b;
// border-radius:20px;
}
.title-ambiente p{
color:white;
font-size: 1.5em;
}
.button-watshapp{
border-radius:50px;
}
.icon-zone{
    color:white;
}
.title-items{
color:white;
}
.header-image {
height: 40vh;
}

.full-image {
  width: 100%;
  height: 100%;
}

#slidecontainer {
    width: 100%;
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.label-description{
    color:white;
    padding-top: 10%;
    background: linear-gradient(272deg, rgba(187, 94, 193, 0.768627) 0%, #7a0682 100%);
}
.slider:hover {
opacity: 1;
}
.row-info .row{
background: #d3d3d30f;
border: 1px solid #808080f2;    
}
.row-info .col{
border: 1px solid #808080f2;    
}
.item-appointment .item-md{
background: #c23824;
}

