page-section-perfil {
    .scroll-content {
        /* padding: 12px 8px 0px 8px !important; */
        padding: 0px !important;
        background: #740662;
    }
    .swiper-slide img {
        width: 100%;
    }
    .icon-zone{
        color:white;
    }
    ion-slides {
        height: 35%;
    }
    #slidecontainer {
        width: 100%;
        margin-bottom: 20px;
    }
    .button-logout{
    background-image: linear-gradient(#b5005f,#6e0662);
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        background: #d3d3d3;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .section-first{
        color: #fff;
    // background-color: #B5005F;
    padding-top: 1%;
    padding: 3%;
    }
    .section-second{
        border-radius: 20px 20px 0px 0px;
        // background: #B5005F;
        // background: -moz-linear-gradient(-45deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
        // background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(175,127,74,1)), color-stop(20%, rgba(226,213,162,1)), color-stop(33%, rgba(242,224,142,1)), color-stop(44%, rgba(235,213,131,1)), color-stop(62%, rgba(208,170,88,1)), color-stop(100%, rgba(145,96,55,1)));
        // background: -webkit-linear-gradient(-45deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
        // background: -o-linear-gradient(-45deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
        // background: -ms-linear-gradient(-45deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
        // background: linear-gradient(135deg, rgba(175,127,74,1) 0%, rgba(226,213,162,1) 20%, rgba(242,224,142,1) 33%, rgba(235,213,131,1) 44%, rgba(208,170,88,1) 62%, rgba(145,96,55,1) 100%);
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af7f4a', endColorstr='#916037', GradientType=1 );
    padding-bottom: 15px;
    padding: 3%;
    }
    .section-three{
    
    }
    .conexion-state{
        padding: 3px;
        width: 23%;
        border-radius: 20px;
        background:#81368B; 
    }
    .row-info .col{
        background: dimgrey;
    }
    .title-descripcion-p{
    color:#fff;
    border-bottom: 1px solid #dedede;
    }
    .title-descripcion{
    color: #fff;    
    font-weight: 800;
    }
    .swiper-pagination-bullet-active {
        background: #6b0662;
    }
    ion-fab[right] {
        padding-top: 45%;
    }
    ion-fab-list{
        margin: 60px 0;
        background: #fbf0f6;
        border-radius: 22px;
    }
    .fab-md-in-list{
        color: #6b0662;
    }
    .fab-md-love{
        background-color: #07bd0e
    }
    
    .fontcont{
        color: #fff;
        margin-block-start: 0px;
        margin-block-end: 1px;
    }
    .scroll-content{
        background: #dd1095;
    }   
    .icondat{
        color:#fff;
        vertical-align: middle;
        font-size: 2em;
    }
    .socialicon{
        text-align: center;
        /* text-align-last: justify; */
        letter-spacing: 7px;
    }
}
