<ion-header>
  <ion-navbar  id="color-content">
    <div class="img-center-detail" >
          <img [src]="img" alt="Weather forecast" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content>
    <ion-slides pager style="width: 100%">
      <ion-slide *ngFor="let item of data.imagens">
          <img src="{{item.imagen}}" imageViewer/>
      </ion-slide>
      <ion-slide *ngIf="!data.imagens.length">
        <img src='assets/imgs/person-default.png' />
    </ion-slide>
    </ion-slides>
  <button ion-button icon-only class="btnfav" (click)="addfavorito()">
      <ion-icon name="heart" *ngIf="data.favoritos=='no'"></ion-icon>
      <ion-icon name="checkmark" *ngIf="data.favoritos=='si'"></ion-icon>
    </button>
  
  <div class="section-first">
      <h1 *ngIf="data.club"> {{ data.club }} </h1>
      <h1 *ngIf="data.hospedaje"> {{ data.hospedaje }} </h1>
      <h1 *ngIf="data.empresa"> {{ data.empresa }} </h1>
  <div class="title-descripcion-p">
      <p>{{data.descripcion}}</p>
  </div>
  </div>
  <div class="section-second">
    <div class = "row">
      <div class = "col col-50">
        <div >
            <h4  class="title-descripcion">Horario</h4>
            <p class="fontcont" *ngFor="let item of data.horarios">
              <span *ngFor="let it of item.dias">{{it.dia}}</span>
              ({{item.horarios}})
            </p>
        </div>
        <div *ngIf="data.precio">        
          <h4  class="title-descripcion">Informacion</h4>
          <p class="fontcont">Precio <span>{{data.precio}}</span></p>
        </div>
        <div *ngIf="data.servicio_hospedajes">
          <div *ngIf="data.servicio_hospedajes.length > 0">
            <h4 class="title-descripcion">Servicios</h4>
            <p class="fontcont" *ngFor="let item of data.servicio_hospedajes">* {{item.servicio}} <span>{{item.precio}}</span></p>
          </div>
        </div>
      </div>
      <div class = "col col-50"> 
      <div >       
        <br>
        <button ion-button icon-start round class="buttoncontac" *ngIf="data.whatsapp"  (click)="openWithSystemBrowser(data.whatsapp)">
            <ion-icon name="logo-whatsapp"></ion-icon>
            {{data.whatsapp | slice:0:15}}
          </button>
        <button ion-button icon-start round class="buttoncontac" *ngIf="data.celular"  (click)="openCallNumber(data.celular)">
          <ion-icon name="tablet-portrait"></ion-icon>
          {{data.celular | slice:0:15}}            
        </button>
        <button ion-button icon-start round class="buttoncontac" *ngIf="data.telefono" (click)="openCallNumber(data.telefono)">
          <ion-icon name="call"></ion-icon>
          {{data.telefono | slice:0:15}}            
        </button>
        <button ion-button icon-start round class="buttoncontac" (click)="vermapa()">
          <ion-icon name="pin"></ion-icon>
          Ver mapa
          <!-- {{data.ciudad.ciudad | slice:0:15}} -->
        </button>
      </div>
      <div>
        <br>
      </div>
      </div>
    </div>
  </div>
  </ion-content>
<ion-footer >
  <ion-toolbar no-padding>
    <ion-slides  autoplay="3000" pager="false" loop="true" effect="slide">
      <ion-slide *ngFor="let item of publicidads" >
        <img [src]="item.imagens[0].imagen" class="slide-image" (click)="presentProfileModal(item)" />
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>
 