page-edit-profile {
    .toolbar-title-md{
        color:white;
    }
    .content-md { 
        background:white;
    }
    .button-logout .button-md{
        background-image: linear-gradient(#b5005f,#6e0662);
    }
}
