
<ion-header>

  <ion-navbar  id="color-content">
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list >
        <ion-item>
            <ion-label>Nombre</ion-label>
          <ion-input ></ion-input>
          </ion-item>
        <ion-item>
          <ion-label>Alias</ion-label>
        <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select [(ngModel)]="s">
            <ion-option *ngFor="let s of sexo" [value]="s.value">{{s.name}}</ion-option>
          </ion-select>
        </ion-item> 
        <ion-item>
          <ion-label>Estatura</ion-label>
        <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Edad</ion-label>
        <ion-input ></ion-input>
        </ion-item>
         <ion-item>
          <ion-label>Peso</ion-label>
        <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Celular</ion-label>
        <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
        <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Idioma</ion-label>
        <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Horarios</ion-label>
        <ion-input type="text"></ion-input>
        </ion-item>
           <ion-item>
          <ion-label>Contextura</ion-label>
          <ion-select [(ngModel)]="c">
            <ion-option *ngFor="let c of contextura" [value]="c.value">{{c.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
        <ion-label floating>Descripción</ion-label>
          <ion-textarea  
              [(ngModel)]="note" name="note" autocomplete="on" autocorrect="on"></ion-textarea>
         </ion-item>
         <ion-item>
            <ion-label>Facebook</ion-label>
          <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Instagram</ion-label>
            <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Twitter</ion-label>
              <ion-input type="text"></ion-input>
              </ion-item>
      </ion-list>
  <div align="center" class="button-logout">
      <button ion-button  item-end>
     Guardar
      </button>
   </div>
</ion-content>
