// page-section .content-md{

// }
page-selection {
    
	// .content-md { 
    //     background-image: linear-gradient(#1C0E18,#1C0E18);
    //     // background-image: #1C0E18 !important; 
    // }




.input-wrapper{
color:white;
}
.item-md {
    background-color: transparent;
    padding: 2px 0px 2px 10px;
}
.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
    background-color: transparent;

}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
	    border-radius: 10px;
}
.fondointem{
    margin-bottom: 10px;
    border-radius: 15px;
    background: rgba(161,3,106,1);
    // background: -moz-linear-gradient(left, rgba(161,3,106,1) 0%, rgba(161,3,106,1) 16%, rgba(25,13,102,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,3,106,1)), color-stop(16%, rgba(161,3,106,1)), color-stop(100%, rgba(25,13,102,1)));
    // background: -webkit-linear-gradient(left, rgba(161,3,106,1) 0%, rgba(161,3,106,1) 16%, rgba(25,13,102,1) 100%);
    // background: -o-linear-gradient(left, rgba(161,3,106,1) 0%, rgba(161,3,106,1) 16%, rgba(25,13,102,1) 100%);
    // background: -ms-linear-gradient(left, rgba(161,3,106,1) 0%, rgba(161,3,106,1) 16%, rgba(25,13,102,1) 100%);
    background: linear-gradient(to right, rgba(161,3,106,1) 0%, rgba(161,3,106,1) 16%, rgba(25,13,102,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1036a', endColorstr='#190d66', GradientType=1 );
}
.textinfo1{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
}
.textinfo2{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

}
.alert-wrapper {
    top: 20vh;
    position: relative;
}

@media(min-width:640px) and (max-height:960px){
    .alert-wrapper {
        top: 8vh;
    }
}

.alert-title{
    text-align: center;
}
.alert-message{
    text-align: center;
}

.alert-button-group{
    justify-content: space-evenly !important;
}