<ion-header>
  <ion-navbar  id="color-content">
      <ion-buttons start (click)="buscar()">
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    <div class="img-center-detail" >
      <h2 style="color: #fff">{{items.menu}}</h2>
          <!-- <img [src]="img" alt="Weather forecast" /> -->
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons end>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-services">
  <ion-list no-lines>
    <ion-item *ngFor="let item of datos let i = index" (click)="itemSelection(item)" class="fondointem">
      <ion-thumbnail item-start>
        <img [src]="item.imagens.length > 0 ?
        item.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
      </ion-thumbnail>
      <h2 class="textinfo1"> {{ item.nombre }} </h2>
      <p class="textinfo1">{{ item.edad }} años</p>
      <p class="textinfo2"> {{ item.ciudad.ciudad }}</p>
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- <ion-list no-lines></ion-list> -->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!noRecords">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>




<ion-footer >
  <ion-toolbar no-padding>
    <ion-slides autoplay="3000" pager="false" loop="true" effect="slide">
      <ion-slide *ngFor="let item of publicidads" >
        <img [src]="item.imagens[0].imagen" class="slide-image" (click)="presentProfileModal(item)" />
        <!-- <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2> -->
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>