<!--
  Generated template for the AvatarsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorRegister">
    <ion-title align="center"><h3>Selecciona tu Avatar</h3></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of dataavatars" (click)="ver(item)" >
      <ion-thumbnail item-start>
        <img [src]="item.avatar">
      </ion-thumbnail>
      {{item.descripcion}}
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>