<ion-header>
  <ion-navbar  id="color-content">

    <div class="img-center-detail" >
          <img [src]="img" alt="Weather forecast" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card  *ngFor="let item of datos"  (click)="openService(item)">
    <img src="{{item.imagen}}"/>
    <div class="card-title-service">{{item.menu}} <br> <span class="spandescrip">{{item.descripcion}} </span></div>
  </ion-card>
</ion-content>
<ion-footer >
  <ion-toolbar no-padding>
    <ion-slides autoplay="3000" pager="false" loop="true" effect="slide">
      <ion-slide *ngFor="let item of publicidads" >
        <img [src]="item.imagens[0].imagen" class="slide-image" (click)="presentProfileModal(item)" />
        <!-- <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2> -->
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>

