.card-background-page {
//   ion-card {
//     position: relative;
//     text-align: center;
//   }
//   .toolbar-background-md {
//   background: linear-gradient(60deg, #a20e0e, #e53935);
//     box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);

// }
  .card-title-service {
    position: absolute;
    top: 30%;
    width: 70%;
    left: 15%;
    font-weight: bold;
    color: #fdfdfd;
    border-radius: 21px;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .spandescrip{
    font-size: 15px;
    font-weight: 200;
    display: block;
  }
  
//   .card-md {
//   margin: 0; 
//   width: calc(100% - 0px);
//   }
}

