<ion-header>
  <ion-navbar  id="color-content">
    <div class="img-center" >
          <img [src]="img" alt="Weather forecast" />
    </div>
      <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="ios-search"></ion-icon>
          </button>
        </ion-buttons>
    
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="transparent-header">
  
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.coverImage +')'}"></div>
    <div id="content">
      <div id="profile-info" padding>
        <img id="profile-image" [src]="user.profileImage">
        <h3 id="profile-name">{{user.name}}</h3>
      </div>
      <hr/>
      </div>

  <div [hidden]='!show'>
      <ion-list >
          <ion-item>
              <ion-label>Nombre</ion-label>
            <ion-input ></ion-input>
            </ion-item>
          <ion-item>
            <ion-label>Alias</ion-label>
          <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select [(ngModel)]="s">
              <ion-option *ngFor="let s of sexo" [value]="s.value">{{s.name}}</ion-option>
            </ion-select>
          </ion-item> 
          <ion-item>
            <ion-label>Estatura</ion-label>
          <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Edad</ion-label>
          <ion-input ></ion-input>
          </ion-item>
           <ion-item>
            <ion-label>Peso</ion-label>
          <ion-input ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Celular</ion-label>
          <ion-input type="tel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
          <ion-input type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Idioma</ion-label>
          <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Horarios</ion-label>
          <ion-input type="text"></ion-input>
          </ion-item>
             <ion-item>
            <ion-label>Contextura</ion-label>
            <ion-select [(ngModel)]="c">
              <ion-option *ngFor="let c of contextura" [value]="c.value">{{c.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
          <ion-label floating>Descripción</ion-label>
            <ion-textarea  
                [(ngModel)]="note" name="note" autocomplete="on" autocorrect="on"></ion-textarea>
           </ion-item>
           <ion-item>
              <ion-label>Facebook</ion-label>
            <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Instagram</ion-label>
              <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Twitter</ion-label>
                <ion-input type="text"></ion-input>
                </ion-item>
        </ion-list>
  </div>
  
  <div align="center" class="button-logout">
    <button ion-button (click)="editProfile()" item-end>
    Editar Cuenta
    </button>
 </div>
 <div align="center" class="button-logout">
    <button ion-button (click)="editImagen()" item-end>
    Imagenes
    </button>
 </div>
        

</ion-content>

