page-profile {
.list-md + ion-list ion-list-header{
	color:white;
}
.button-logout .button-md{
    background-image: linear-gradient(#b5005f,#6e0662);
}

.label label-md{
color:#6f6f6f;
}
.input-wrapper{
    color:#6f6f6f;   
}
.content-md { 
    background:white;
}
  button,
  ion-button,
  .button-md,
  .button-ios {
    text-transform: none !important;
  }

  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  // Profile content
  #content {
    position: relative;
    margin-top: 150px;
    padding-top: 100px;
    text-align: center;
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
}
