page-contact {
.content-md { 
	background: white;
  }
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  .content-contact{
    padding-top: 50%;
  }

}
