<ion-header>
  <ion-navbar  id="color-content">
    <div class="img-center" >
          <img [src]="img" alt="Weather forecast" />
    </div>
      <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="ios-search"></ion-icon>
          </button>
        </ion-buttons>
    
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + coverImage +')'}"></div>
  <div class="content-contact">
<p>Si desea tener uno de nuestros servicios y ser parte de la aplicación TOURSECRET comuniquese con nosotros con gusto lo atenderemos.</p>
  </div>
<div class="list-contact">
  <ion-list no-lines>
     <ion-item (click)="callMe()"><ion-icon name="ios-call-outline" item-start></ion-icon>
       LLamanos</ion-item>
       <ion-item (click)="callMe()"><ion-icon name="logo-whatsapp" item-start></ion-icon>
       Mandanos un mensaje</ion-item>
    <ion-item (click)="facebookLink()"> <ion-icon name="logo-facebook" item-start></ion-icon>
       Facebook</ion-item>
    <ion-item (click)="openLink()">
      <ion-icon name="ios-globe-outline" item-start></ion-icon>
      Pagina Web</ion-item>
  </ion-list>
</div>
  
</ion-content>
<ion-footer (click)="presentProfileModal()">
  <ion-toolbar no-padding>
    <ion-slides pager autoplay="3000" loop="true" effect="slide">
      <ion-slide *ngFor="let item of [1,2,3,4,5]">
        <img src="assets/imgs/fotos/rosita.jpg" class="slide-image"  />
          <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>