
.card-background-page {
  .scroll-content {
    // padding: 0px 8px 0px 0px !important;
    padding: 0 !important;
    // margin-bottom: 0 !important;
  }
  ion-card {
    position: relative;
    text-align: center;
    background:transparent;
    

  }
  .bordecar{
    border-radius: 28px;
  }
  .card-title {
    position: absolute;
    top: 30%;
    width: 70%;
    left: 40%;
    font-weight: bold;
    color: #fdfdfd;
    border-radius: 21px;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #00000057;
  }
  
}



  .slide-zoom{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
  }
  .slide-image{
    width: 100% !important;
    position: relative;
    // top: 50%;
    // left: 50%;
    height: 30%;
    // margin: -40% 0 0 -100%;
  }
  ion-footer{
    height: 50px;  
  }
  .footext{
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #00000057;
    padding: 5px;
  }
  .toolbar-background {
    background: #000;
  }