page-politics {
.content-politic { 
	padding-top:10%;
	color:black;
}
.politic-head{
	padding-top: 50%;
}
.politic-content{
	padding: 5%;
}
h3{
	color: black;
}
.content-md { 
	background: white;
  }
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
}
