<ion-header>
  <ion-navbar  id="color-content">
    <div class="img-center" >
          <img [src]="img" alt="Weather forecast" />
    </div>
      <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="ios-search"></ion-icon>
          </button>
        </ion-buttons>
    
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + coverImage +')'}"></div>
<div class="content-politic">
  <div  class="politic-head">
  <h3 align="center" >Nuestras Politicas</h3>
  <p align="center" >Aviso legal: este sitio web es SOLO un recurso de información y publicidad, y por lo tanto, este proyecto no tiene conexión ni responsabilidad con ningún sitio web o personas mencionadas aquí</p>
</div>
<div class="politic-content">
  <h3 align="center" >Todos los derechos reservados</h3>
  <p align="center">Nuestro ÚNICO propósito es vender espacios publicitarios en nuestro sitio web, no somos una agencia de acompañantes y no estamos involucrados en actividades de acompañamiento o prostitución. No nos hacemos responsables del contenido o las acciones de los sitios web de terceros o de personas a las que puede acceder siguiendo los enlaces o contactos telefónicos de este portal.</p>
</div>
<div>
  
</div>
</div>

</ion-content>
