<ion-menu [content]="content">
  <ion-header>

    <ion-toolbar color="number6">
 <div class="img-center-sider" >
          <img [src]="img" alt="Weather forecast" />

    </div>    </ion-toolbar>
  </ion-header>

  <ion-content id="side-color">
    <ion-list no-lines class="list-color">
      <button menuClose ion-item  *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
      </button>
      <button menuClose ion-item  (click)="logout()">
        Cerrar sesion 
        <ion-icon name="log-out" item-start></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>