.alert-md .alert-sub-title{
color:black;
}
.list-color .item-md{
  background-color:#ecf0f1;
}
h3{
  color:white;
}
#side-color {
  background-color: #ecf0f1;
}
.content-md { 
  background: #171717;
}
#color-content .toolbar-background-md{
  // background: linear-gradient(272deg, rgba(255, 0, 0, 0.7686274509803922) 0%, #000 100%);
  background: #000000;

}

//list-app
.item-md{
  // background: linear-gradient(272deg, rgba(255, 0, 0, 0.7686274509803922) 0%, #000 100%);
      color: white;
}
.item-md p{
      color: white;
}

.list-md[no-lines] .item-block, .list-md[no-lines] ion-item-options, .list-md[no-lines] .item .item-inner{
  color: #6F6F6F;
}
.item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end]{
  color: #6F6F6F;
}
.bar-button-md[icon-only] ion-icon {
	color: white;
}
.back-button-icon-md{
	color: white;
}
.bar-button-menutoggle-md ion-icon{
	color: white;
}
.img-center-sider{
  padding-left: 35%;
}
.img-center{
text-align: center;
padding-left: 35%;
}
.img-center-detail{
text-align: center;
}
// style for slider
ion-slides.to-top {
  height: auto;
  margin-bottom: -5px;

  .swiper-pagination {
    display: block !important;

    .swiper-pagination-bullet {
      background: color($colors, light);
    }
  }
}

.to-top {
  height: auto;
  margin-bottom: -5px;
}
p{
  color:blanck;
}



.radio-md {
  vertical-align: middle;
}