<ion-header>
  <ion-navbar  id="color-content">
    <div class="img-center-detail" >
        <!-- <h2 style="color: #fff">{{items.menu}}</h2> -->
          <img [src]="img" alt="Weather forecast" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list  >
    <ion-item *ngFor="let item of datos"  (click)="openCountry(item)">
      <ion-thumbnail item-start>
        <img src="{{item.imagen}}">
      </ion-thumbnail>
      <h2>{{item.pais}}</h2>
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
