page-country {
    .item-md {   
        background-color: transparent;  
    }
    .toolbar-title-md{
        color:white;
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
        border-radius: 50%;
    }
}
