<ion-header>
  <ion-navbar  id="color-content">
      <ion-buttons start (click)="buscar()">
          <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    <div class="img-center-detail" >
        <h2 style="color: #fff">{{items.menu}}</h2>
          <!-- <img [src]="img" alt="Weather forecast" /> -->
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="menu.open()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-services">
  <ion-list no-lines>
    <ion-item *ngFor="let item of datos let i = index" (click)="itemSelection(item)" class="fondointem">
      <ion-thumbnail item-start>
        <img [src]="item.imagens.length > 0 ?
        item.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
      </ion-thumbnail>
    <!--  <ion-label>  {{ item.name }}</ion-label>
      <ion-label>  {{ item.name }}</ion-label> -->
      <h2 class="textinfo1" *ngIf="item.club"> {{ item.club }} </h2>
      <h2 class="textinfo1" *ngIf="item.hospedaje"> {{ item.hospedaje }} </h2>
      <h2 class="textinfo1" *ngIf="item.empresa"> {{ item.empresa }} </h2>
      <p class="textinfo2"> {{ item.ciudad.ciudad }}</p>
      <ion-icon item-end name="arrow-forward" style="color:#fff"></ion-icon>

      <!-- <ion-note item-end>{{item.conexion}}</ion-note> -->
        <!-- <ion-radio value="always" checked></ion-radio> -->
  <!-- dsdads
          <button ion-button icon-end>
    {{item.estado}}
    <ion-icon name="ios-disc"></ion-icon>
  </button> -->
        <!-- <button class="button-icon-conexion" item-end><ion-icon [style.color]="item.conexion == 'true' ? '#75fb03' : '#acb5a4' " name="ios-disc"></ion-icon></button> -->

        <!-- <ion-toggle color="secondary"  checked="{{item.estado}}"></ion-toggle> #e20200b5-->

    </ion-item>
    
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!noRecords">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer >
  <ion-toolbar no-padding>
    <ion-slides  autoplay="3000" pager="false" loop="true" effect="slide">
      <ion-slide *ngFor="let item of publicidads" >
        <img [src]="item.imagens[0].imagen" class="slide-image" (click)="presentProfileModal(item)" />
        <!-- <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2> -->
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>