page-section {
    .content-md { 
        // background-image: linear-gradient(#5d2f4d,#241c25);
    }
    .input-wrapper{
    color:white;
    }
    .item-md {
        background-color: transparent;
    }
    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
        background-color: transparent;
    
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
            border-radius: 10px;
    }
    .fondointem{
        margin-bottom: 10px;
        border-radius: 15px;
        background: #A1036A;
        // background: linear-gradient(170deg, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 6%, rgba(102,102,102,1) 15%, rgba(89,89,89,1) 22%, rgba(44,44,44,1) 33%, rgba(44,44,44,1) 34%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 68%, rgba(43,43,43,1) 83%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
        // background: linear-gradient(170deg, #b07f4a 0%, #f1d565 21%, #d0aa58 55%, #f2df8d 80%, #916037 119%);
    }
    .textinfo1{
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        font-family: sans-serif;
    }
    .textinfo2{
        color: #fff;
        font-size: 16px;
        font-weight: 300;
    }
    // .scroll-content {   
    //     padding: 12px 8px 0px 8px !important;
    //     padding: 0px !important;
    // }

}
.scroll-content {   
        padding: 12px 8px 0px 8px !important;
        padding: 10px !important;
    }