<ion-header>
    <ion-navbar  id="color-content">
  
      <div class="img-center-detail" >
            <img [src]="img" alt="Weather forecast" />
      </div>
      <ion-buttons start>
        <button ion-button icon-only (click)="menu.open()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      
    </ion-navbar>
  </ion-header>



<ion-content padding>
  <ion-list no-lines>
    <ion-list-header no-lines>
      <div class="title-favorites">
          <b>Citas</b>
      </div>
      
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of datos.clientes">
      <ion-item (click)="openFavorite('c',item.acciontable)">
        <ion-thumbnail item-start>
          <img [src]="item.acciontable.imagens.length > 0 ?
          item.acciontable.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
        </ion-thumbnail>
        <h2>{{item.acciontable.nombre}}</h2>
        <p>{{item.acciontable.ciudad.ciudad}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="eliminar(item)" style="text-transform: none;">
            <ion-icon name="trash"></ion-icon>
            Quitar
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header no-lines>
    <div class="title-favorites">
      <b> Nigth Clubs</b>
    </div>  
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of datos.clubs">
      <ion-item (click)="openFavorite('o',item.acciontable)">
        <ion-thumbnail item-start>
          <img [src]="item.acciontable.imagens.length > 0 ?
          item.acciontable.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
        </ion-thumbnail>
        <h2>{{item.acciontable.club}}</h2>
        <p>{{item.acciontable.ciudad.ciudad}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="eliminar(item)" style="text-transform: none;">
            <ion-icon name="trash"></ion-icon>
            Quitar
          </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
  <ion-list no-lines>
    <ion-list-header no-lines>
        <div class="title-favorites">
      <b> Radio Taxis  </b> 
        </div> 
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of datos.radiotaxi">
      <ion-item (click)="openFavorite('o',item.acciontable)">
        <ion-thumbnail item-start>
          <img [src]="item.acciontable.imagens.length > 0 ?
          item.acciontable.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
        </ion-thumbnail>
        <h2>{{item.acciontable.empresa}}</h2>
        <p>{{item.acciontable.ciudad.ciudad}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="eliminar(item)" style="text-transform: none;">
            <ion-icon name="trash"></ion-icon>
            Quitar
          </button>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
  <ion-list no-lines>
    <ion-list-header no-lines>
    <div class="title-favorites">    
     <b> Hospedaje </b> 
    </div>  
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of datos.hospedaje">
      <ion-item (click)="openFavorite('o',item.acciontable)">
        <ion-thumbnail item-start>
          <img [src]="item.acciontable.imagens.length > 0 ?
          item.acciontable.imagens[0].imagen : 'assets/imgs/person-default.png'" style="object-fit: cover;">
        </ion-thumbnail>
        <h2>{{item.acciontable.hospedaje}}</h2>
        <p>{{item.acciontable.ciudad.ciudad}}</p>
      </ion-item>
      <ion-item-options side="right">
          <button ion-button (click)="eliminar(item)" style="text-transform: none;">
            <ion-icon name="trash"></ion-icon>
            Quitar
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer (click)="presentProfileModal()">
  <ion-toolbar no-padding>
    <ion-slides pager autoplay="3000" loop="true" effect="slide">
      <ion-slide *ngFor="let item of [1,2,3,4,5]">
        <img src="assets/imgs/fotos/rosita.jpg" class="slide-image"  />
          <h2 class="slide-title footext">{{ 'Ready to Play? fsdfsd sdfsd sdfsdf sdfsdfsdf sdf' | slice:0:30}}</h2>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>