page-favorites {
.title-favorites{
    color: #000000;
    font-size: 1.3em;
}
.list-md .item[no-lines], .list-md .item[no-lines] .item-inner{
    background: linear-gradient(135deg, #af7f4a 0%, #e2d5a2 20%, #f2e08e 33%, #ebd583 44%, #d0aa58 62%, #916037 100%);
}
.label-md {
color: white;	
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
border-radius:20px;
}
.item-md {
    background-color: transparent;
}
.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
    background-color: transparent;

}
.list-md ion-item-sliding{
    background-color: transparent;
  
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
	    border-radius: 20px;
}

}

.alertcl .alert-wrapper{
    top: 0vh;
}
